.search {
    -webkit-appearance: none;
    
    outline: none;
    height: 30px;
    padding: 10px;
    width: 90%;
    line-height: 20px;
    margin: 5px auto;
    background-color: #4d4d4d;
    color: #9f9f9f;
    border-radius: 5px;
    border:none;
}
