@font-face {
  font-family: bbc;
  src: url(bbc.woff);
}
.requester label {
    font-size: .9rem;
}

* {
    font-family: bbc, Arial, tahoma;
    font-size: 20px;
    letter-spacing: 1px;
}

body{
    background-color:#000 !important;
    color:azure !important;

}
.navbar > .container, .navbar > .container-fluid {
    background-color: #171717 !important;
}

.navbar-brand, .nav-link {
    font-size: .9rem !important;
}
.nav-item:hover .active {
    visibility:visible;
}
.nav-item > .active {
    height:5px;
    border-radius:2px;
    background-image: linear-gradient(87deg,#f01212 -71%,#5b0404 28%);
    visibility:hidden;
}

.navbar {
    padding: 1.2rem 1rem .6rem 1rem !important;
}
.bgMoharam {
    background-image: url('./back_1.jpg');
    padding: 5% 10%;
}

.cardBg {
    border-radius: 25px!important;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    background-color: #e000008a !important;
}
.card-title, .card-name {
    color: white;
    text-decoration: none;
}

.card-title, .card-name {
    font-size: 100%;
    margin-top: 9px;
}

.underline {
    margin: 0 auto;
    height: 5px;
    width:10%;
    border-radius: 2px;
    background-image: linear-gradient(87deg,#f01212 -71%,#5b0404 28%);
    visibility: visible;
}
.upstar {
    width: 35%;
    margin: 0 auto;
}
.upstar > img {
    width: 100%;
    margin-top:65px
}

.downStar {
    width: 35%;
    margin: 0 auto;
}

.downStar > img {
    width: 100%;
    margin-bottom:65px;
    transform: rotate(180deg);
}

.heroquote {
    padding-top: 10%;
    padding-left: 46%;
    text-align: center;
    font-size: 3vw;
    color: #9f9f9f;
    padding-bottom: 10%;
}

.cover {
    background-image: url(cover.png);
    background-repeat: no-repeat;
    width: 100%;
    max-height: 90vh;
    background-position-x: 20%;
    background-size: auto 100%;
    min-height: 20vh;
}

.bgBarname {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,.5)),url('./redback.png');
    padding: 6% 5%;
}
.player{
    width:90%;
    height:auto;
    border-radius:10px;
}


.vjs_video_3-dimensions {
     width: auto!important; 
     height: auto!important; 
}

.video-js {
    width: 100%!important;
    height: auto!important;
    min-height:400px;
}
.mybtn-search {
    height: 30px;
    padding: 5px;
    margin: 5px auto;
    background-color: #4d4d4d;
    color: #9f9f9f;
}
.searcho {
    height: 23%;
    margin: 5px auto 0 0;
    background-color: #343a40;
    border-radius: 8px;
    border: 0;
    color:azure;
    font-size: 17px;
}

.videojsplayer {
    width: 70%;
    margin: 0 auto;
}

.react-countdown-container{
    display:inline-flex;
    direction:ltr;

}

.react-countdown-box {
    width:100%;
    background-color: azure;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin:5px;
}

.mytimer {
    margin: 0 auto;
}

.user-listp{
    display: grid;
    width:80%;
    margin:0 auto;
}

.add-button{
    width:18%;
    margin:0 auto;
}

.rc-time-picker-panel-combobox{
    color:black;
}

.footer-copyright {
    font-size: .6rem;
}

.footer-copyright > * {
        font-size: .6rem;
}

.vjs-modal-dialog-content {
    font-size: 84%!important;
}

.myimg {
    transform: translateX(15%);
}

.searchoButton {
    margin-right:0
}

.paraph {
    margin: 0 auto;
    text-align:center;

}

.detailevent {
    background-color: azure;
    padding: 15px 3px 15px 3px;
    width:40%;
    border:0;
    margin: 35px auto;
    border-radius:10px;
}

.detailevent > h3 {
    font-size: 80%;
    padding: 10px 0;
    color: #171717;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .detailevent {
        background-color: azure;
        padding: 15px 3px 15px 3px;
        width: 97%;
        border: 0;
        margin: 35px auto;
        border-radius: 10px;
    }
}
